.todoListsDiv {
  border-radius: 8px;
  width: auto;
  color: rgb(3, 3, 3);
  font-size: 20px;
  margin: 0 auto;
  margin-top: 1px;
  cursor: pointer;
  text-align: left;
  
}

.item {
  font-weight: bold;
  padding: 9px 20px;
}

.line {
  border: 1px solid#ebe5e5;
}

.deleteButton {
  float: right;
  padding: 8px 14px;
  border: none;
  color: black;
  background-color: silver;
  margin-top: -1px;
  border-radius: 100px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
